/* --- فونت و رنگ‌ها --- */
body {
    font-family: 'Vazir', sans-serif;
    background-color: #000; /* مشکی */
    color: #ffa733; /* نارنجی روشن */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    direction: rtl;   /* متن راست‌چین */
    text-align: right;
}

.container {
    max-width: 500px;
    width: 95%;
    padding: 20px;
}

/* تیترها */
h3 {
    color: #ff7b00; /* نارنجی */
    margin-bottom: 10px;
}

/* --- باکس جستجو --- */
#cityBox {
    width: 100%;
    padding: 12px 15px;
    font-size: 16px;
    border: 2px solid #ff7b00;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: #1a1a1a; /* خاکستری تیره */
    color: #ffa733;
    box-sizing: border-box;
}

#cityBox::placeholder {
    color: #ffbb66;
}

/* --- نتایج جستجو --- */
#results {
    border: 1px solid #ff7b00;
    border-radius: 8px;
    background-color: #1a1a1a;
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 20px;
}

#results div {
    padding: 12px;
    cursor: pointer;
    border-bottom: 1px solid #ff9933;
    color: #ffa733;
}

#results div:last-child {
    border-bottom: none;
}

#results div:hover {
    background-color: #332100; /* نارنجی خی*

